.container {
    height:55vh;
    width:100%;
    display: flex;
    
    background: black ;
    
    color:#ffffff;
   
    font-size: 25px;
    
    margin:0px;
    
    overflow: auto;
   
}

.user {
    color:white !important ;
    font-size: 11px;
    margin-bottom: 10px ;
    margin-left: 5px;
    margin-top: 3px;
}


.messages {
    margin-left: 10px;
    background: rgb(197, 172, 139)  ;
    color: black;
    display: inline;
    padding: 4px 8px;
    border-radius: 8px;
    
}