.container {
    height:54vh;
    width:100%;
    display: flex;
    

    background: black ;
 
    clear: both;
    background: url('../../pages/media/Many-Faced_God_Histories_and_Lore.png');
    background-size: cover;
    border:none;
    color:#ffffff;
  
    font-size: 25px;
    
    margin:0px;
    
    overflow: auto;
   
}

.user {
    color:white !important ;
    font-size: 11px;
    margin-bottom: 10px ;
    margin-left: 5px;
    margin-top: 3px;
}


.messages {
    border-radius: 20px;
    padding: 5px 15px;
    margin: 10px !important;
    background:rgb(153, 142, 129);
    display: inline-block;
    hyphens: auto;    ;
    -webkit-hyphens: auto    ;
    -moz-hyphens: auto    ;
    -ms-hyphens: auto    ;
}