




#listContainer {
    background:red;

}

#addNameContainer {
    text-align: center;

}

#addNameContainer Button {
    margin-top:10px;
}

#segmentBody {
    height:25vh;
    background: black;
    background-size: cover !important ;
    margin:0;
    border:none;
    color:white;
    overflow: auto;
    max-height: 50vh;
}

#clearBtn {
    margin-top:10px;
}



#listItem {
    font-size: 25px;
    margin-top:-40px;
   
}

#listHeader {
    color:white;
}

#inputColor {
    color:white;
}

