#chatBanner {
    height:50px ;
    border: none;
    margin:0;
    background-image: url('../../pages/media/c89141e8cee7bdb99f977871255dbb75.jpg');
    background-size: cover ;
    
   
    
    
}


#header {
    color:white !important;
}